# Database connection
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=nilm
DB_TABLE=MeterData
DB_TIME_COLUMN=timestamp
DB_PHASE_L1=instantaneous_active_power_l1_kW
DB_PHASE_L2=instantaneous_active_power_l2_kW
DB_PHASE_L3=instantaneous_active_power_l3_kW
DB_POWER_DELIVERED=actual_electricity_power_delivered_kW
DB_POWER_RECEIVED=actual_electricity_power_received_kW
